In [ ]:
# dataframe
#author:Mayur Patel

In [1]:
#Creating Dataframe Using List
# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Mayur', 'Patel', 19, 'CSE']
df = pd.DataFrame(lst)
print(df)

       0
0  Mayur
1  Patel
2     19
3    CSE

In [4]:
data = [['AYZ',15],['BYZ',14],['CYZ',16]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

  Name   Age
0  AYZ  15.0
1  BYZ  14.0
2  CYZ  16.0

In [6]:
# Convert the dictionary into DataFrame
data = {'Name':['Alexa', 'Hritik', 'Gaurang'],
        'Age':[30, 22, 32],
        'Address':['Gujarat', 'Goa', 'Kerala']}
df = pd.DataFrame(data)
print(df)

      Name  Age  Address
0    Alexa   30  Gujarat
1   Hritik   22      Goa
2  Gaurang   32   Kerala

In [7]:
#Indexed Dataframe
data = {'Name':['Alexa', 'Hritik', 'Gaurang'],
        'Age':[30, 22, 32]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3'])
print(df)

          Name  Age
rank1    Alexa   30
rank2   Hritik   22
rank3  Gaurang   32

In [9]:
#Dataframe with list of dictionaries
#row indices and column indices
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b','c'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1','c'])
print(df1)
print(df2)

        a   b     c
first   1   2   NaN
second  5  10  20.0
        a  b1     c
first   1 NaN   NaN
second  5 NaN  20.0

In [10]:
d = {'main' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'branched' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   main  branched
a   1.0         1
b   2.0         2
c   3.0         3
d   NaN         4

In [11]:
#Column Selection
print(df ['branched'])

a    1
b    2
c    3
d    4
Name: branched, dtype: int64

In [16]:
# Adding a new column to an existing DataFrame object with column label by passing new series
df['branched2']=pd.Series([10,20],index=['a','b'])
print(df)

   main  branched  branched2
a   1.0         1       10.0
b   2.0         2       20.0
c   3.0         3        NaN
d   NaN         4        NaN

In [17]:
#Adding a new column using the existing columns in DataFrame
df['sum']=df['main']+df['branched2']
print(df)

   main  branched  branched2   sum
a   1.0         1       10.0  11.0
b   2.0         2       20.0  22.0
c   3.0         3        NaN   NaN
d   NaN         4        NaN   NaN

In [18]:
#Column Deletion
del df['branched2']
print(df)

   main  branched   sum
a   1.0         1  11.0
b   2.0         2  22.0
c   3.0         3   NaN
d   NaN         4   NaN

In [19]:
#Row Selectionby iloc method
d = {'main' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'branched' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df.iloc[2])

main        3.0
branched    3.0
Name: c, dtype: float64

In [20]:
#Addition of Rows
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [21]:
#Deletion of Rows

# Drop rows with label 0
df = df.drop(0)

print(df)

   a  b
1  3  4
1  7  8